.right_con {
  .el-form-item__error {
    color      : rgba(75, 103, 140);
    left       : 50%;
    transform  : translateX(-50%);
    padding-top: 10px;
  }

  .el-form-item.is-error .el-input__inner,
  .el-form-item.is-error .el-input__inner:focus {
    border-color: #8bcefa;
  }

}

