html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

/* ----------------Home中--------------- */
.el-menu-item:hover,
.el-submenu__title:hover {
  background-color: rgb(10, 102, 178) !important;
}

/* ---------------------User中----------------------- */

/* ------------------面包屑全局-------------------- */
.el-breadcrumb__inner {
  color: rgb(211, 192, 192) !important;
}

.is-link {
  color: white !important;
}

/* //------------------box-card全局------------------- */
.box-card {
  margin-top: 20px;
  border-radius: 15px !important;
}

.btn_caozuo1,
.btn_caozuo2,
.btn_caozuo3 {
  border: 0px !important;
  border-radius: 15px !important;
}

.btn_caozuo1 {
  background-color: rgb(7, 192, 248) !important;
}

.btn_caozuo2 {
  background-color: rgb(188, 74, 199) !important;
}

.btn_caozuo3 {
  background-color: rgb(110, 112, 218) !important;
}

/* --------------------user结束------------------------ */

/* -----------------------roles中----------------------- */
.el-tag .el-icon-close {
  padding: 0 0;
}


/* ---------------------Add中------------------------- */
.el-steps {
  margin: 20px;
  justify-content: center;
}

.el-step__title {
  font-size: 13px !important;
}


.ql-editor {
  /* 最小高度 */
  min-height: 300px;
}